    body {
        margin: 0;
        background-color: rgb(25, 9, 42);
    }
    
     :root {
        --primary: rgb(255, 255, 255);
        --secondary: rgb(210, 123, 236);
        --tertiary: rgb(248, 148, 248);
    }
    /* begining of navigation bar */
    
    header {
        margin: 0;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        background-color: rgb(0, 2, 5);
        border-radius: 0 0 1rem 1rem;
        border: 1px solid;
    }
    
    .container-fluid {
        width: 90%;
        margin: 0 auto;
    }
    
    header::after {
        content: '';
        display: table;
        clear: both;
    }
    
    .brand a {
        float: left;
        display: flex;
        text-decoration: none;
        font-size: 45px;
        font-family: 'Cinzel Decorative';
        color: white;
    }
    
    .logo {
        float: left;
    }
    
    nav {
        float: right;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    @media (min-height:300px) {
        nav ul {
            position: sticky;
            top: 0;
        }
    }
    
    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 35px;
        position: relative;
    }
    
    nav ul li a {
        text-decoration: none;
        font-size: large;
    }
    
    a {
        color: var(--primary);
    }
    
    a:hover {
        color: rgb(193, 8, 250);
    }
    
    a:active {
        color: red;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background-color: rgb(193, 8, 250);
        position: absolute;
        top: 8px;
        width: 0%;
    }
    
    nav a:hover::before {
        width: 100%;
    }
    
    nav a:active::before {
        background-color: red;
        width: 100%
    }
    /* end of navigation bar */
    
    .avatar {
        height: 400px;
        width: 400px;
        padding: 2rem;
        display: block;
        margin: auto;
    }
    
    .header {
        text-align: center;
        color: white;
    }
    
    .name {
        font-weight: bolder;
        color: rgba(249, 165, 8, 0.93);
    }
    
    .header h1 {
        color: var(--primary)
    }
    
    .heading {
        color: var(--primary);
        font-family: 'BIZ UDPMincho', serif;
        padding: 10px 30px;
    }
    
    .heading span {
        color: var(--tertiary)
    }
    
    .editors {
        color: var(--primary);
        font-family: 'BIZ UDPMincho', serif;
        text-size: 24px
    }
    
    .projects {
        color: var(--primary);
    }
    
    .links {
        text-decoration: none;
        font-size: x-large;
        padding: 30px;
    }